/* fonts.css */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'), url(../../public/fonts/Roboto-Light.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Baloo Bhaijaan';
    font-style: normal;
    font-weight: 700;
    src: local('Baloo Bhaijaan'), url(../../public/fonts/BalooBhaijaan-Regular.ttf) format('truetype');
  }

/* Regular (Normal) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400; /* Regular weight */
  src: local('Montserrat'), url(../../public/fonts/Montserrat/static/Montserrat-Regular.ttf) format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700; /* Bold weight */
  src: local('Montserrat Bold'), url(../../public/fonts/Montserrat/static/Montserrat-Bold.ttf) format('truetype');
}

/* Medium */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500; /* Medium weight */
  src: local('Montserrat Medium'), url(../../public/fonts/Montserrat/static/Montserrat-Medium.ttf) format('truetype');
}

/* Light */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300; /* Light weight */
  src: local('Montserrat Light'), url(../../public/fonts/Montserrat/static/Montserrat-Light.ttf) format('truetype');
}

/* Regular (Normal) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400; /* Regular weight */
  src: local('Poppins Regular'), url(../../public/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700; /* Bold weight */
  src: local('Poppins Bold'), url(../../public/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

/* Medium */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500; /* Medium weight */
  src: local('Poppins Medium'), url(../../public/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

/* Light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300; /* Light weight */
  src: local('Poppins Light'), url(../../public/fonts/Poppins/Poppins-Light.ttf) format('truetype');
}

/* Regular (Normal) */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400; /* Regular weight */
  src: local('Oswald Regular'), url(../../public/fonts/Oswald/static/Oswald-Regular.ttf) format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700; /* Bold weight */
  src: local('Oswald Bold'), url(../../public/fonts/Oswald/static/Oswald-Bold.ttf) format('truetype');
}

/* Medium */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500; /* Medium weight */
  src: local('Oswald Medium'), url(../../public/fonts/Oswald/static/Oswald-Medium.ttf) format('truetype');
}

/* Light */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300; /* Light weight */
  src: local('Oswald Light'), url(../../public/fonts/Oswald/static/Oswald-Light.ttf) format('truetype');
}


  
  